@import "tailwindcss";

:root {
  --main-page-secondary: #1C4CC3;
}

@theme inline {
  --color-main-page-secondary: var(--main-page-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
